  section {
        background-color: fuchsia;
    }
    main{
        display: grid;
        grid-template-columns: repeat(2 1fr);
        grid-template-rows: repeat(5, 150px);
        gap: 10px;
    }

    section:nth-of-type(1){
        grid-area: 1/1/2/3;
    }
    section:nth-of-type(2){
        grid-area: 2/1/3/2 ;
    }
    section:nth-of-type(3){
        grid-area: 2/2/5/3;
    }
    section:nth-of-type(4){
        grid-area: 3/1/5/2;
    }
    section:nth-of-type(5){
        grid-area: 5/1/6/3 ;
    }