*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}


@media screen and (max-width: 639px), (orientation:landscape){
    
    main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 200px);
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g"
        ;
        gap: 10px;
      
    }
    
    section {
        background-color: fuchsia;
        color: white;
    }

    section:nth-of-type(1){
        grid-area: a;
    }
    section:nth-of-type(2){
        grid-area: b;
    }
    section:nth-of-type(3){
        grid-area: c;
    }
    section:nth-of-type(4){
        grid-area: d;
    }
    section:nth-of-type(5){
        grid-area: e;
    }
    section:nth-of-type(6){
        grid-area: f;
    }
    section:nth-of-type(7){
        grid-area: g;
    }  
}

@media screen and (min-width: 640px) {
    

    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 200px);
        grid-template-areas: 
        "a a"
        "b c"
        "d f"
        "d e"
        "g g"
        ;
        gap: 10px ;
      
    }
    
    section {
        background-color: blue;
        color: white;
    }
    
    section:nth-of-type(1){
        grid-area: a;
    }
    section:nth-of-type(2){
        grid-area: b;
    }
    section:nth-of-type(3){
        grid-area: c;
    }
    section:nth-of-type(4){
        grid-area: d;
    }
    section:nth-of-type(5){
        grid-area: e;
    }
    section:nth-of-type(6){
        grid-area: f;
    }
    section:nth-of-type(7){
        grid-area: g;
    }
}

@media screen and (min-width: 1024px) {
    

    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 200px);
        grid-template-areas: 
        "a a a"
        "b c d"
        "e f d"
        "e f d"
        "g g g"
        ;
        gap: 10px ;
      
    }
    
    section {
        background-color: red;
        color: white;
    }
    
    section:nth-of-type(1){
        grid-area: a;
    }
    section:nth-of-type(2){
        grid-area: c;
    }
    section:nth-of-type(3){
        grid-area: f;
    }
    section:nth-of-type(4){
        grid-area: g;
    }
    section:nth-of-type(5){
        grid-area: d;
    }
    section:nth-of-type(6){
        grid-area: b;
    }
    section:nth-of-type(7){
        grid-area: e;
    }
    
    }

/* @media print and (orientation: landscape){
    main{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 200px);
        gap: 10px;
    }
    article{
        border: 10px solid;
    }
} */